h2 {
  &.section-title {
    margin: 80px 0 30px;
    color: var(--main-color);
    cursor: pointer;

    span {
      color: var(--gray-color);
      font-size: 31px;
      font-weight: 500;
    }
  }
}
section.category-filter {
  margin: 50px 0 40px;
  display: flex;
  align-items: flex-start;
  h4 {
    padding-top: 2px;
    font-weight: 500;
    color: var(--gray-color);
    font-size: 20px;
    padding-right: 10px;
  }
  .category-buttons {
    display: flex;
    @include responsive(xs) {
      flex-wrap: wrap;
    }
    li {
      cursor: pointer;
    }
  }
}
